body {
    background-image: url(../img/circles-and-roundabouts.png);
}

.logo {
    font-family: 'Poppins', sans-serif;
}

.logo a {
    color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}